<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>Latino .NET Online - Identity Server</title>
    
    <link rel="icon" type="image/x-icon" href="~/assets/identities-module/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/identities-module/favicon.ico" />
    
    <link rel="stylesheet" href="~/assets/identities-module/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/identities-module/css/site.css" />
</head>
<body>
    <partial name="_Nav" />
   
    <div class="container body-container">
        @RenderBody()
    </div>

    <script src="~/assets/identities-module/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/assets/identities-module/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
